body {
    font-family: sans-serif;
    color: white;
    background-color: black;
}

h1 {
    font-family: 'Permanent Marker', cursive;
    color: white;
    text-align: center;
    font-size: 90px;
}

h2 {
    font-family: 'Permanent Marker', cursive;
    font-size: 45px;
}

summary {
    width: 274px;
    border: 5px darkblue;
    padding: 10px;
    border-style: double;
}

section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    padding: 100px 20vw;
}

.backBlue {
    background: #36454F;
}

.backGrey {
    background: #7393B3;
}

.txtOrange {
    color: orange;
}

.wave2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave2 svg {
    position: relative;
    display: block;
    width: calc(101% + 1.3px);
    height: 139px;
}

.wave2 .shape-fill {
    fill: #7393B3;
}

.spacer {
    aspect-ratio: 960/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.layer1 {
    background-image: url('./layer1.svg');
}