body {
    font-family: sans-serif;
    color: white;
    background-color: black;
}

h1 {
    font-family: 'Permanent Marker', cursive;
    color: white;
    text-align: center;
    font-size: 90px;
}

h2 {
    font-family: 'Permanent Marker', cursive;
    font-size: 45px;
}

summary {
    font-family: 'Work Sans', sans-serif;
    width: fit-content;
    border: 1px orange;
    padding: 10px;
    border-style: double;
}

section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    padding: 100px 20vw;
}

.backBlue {
    background: #36454F;
}

.backGrey {
    background: #7393B3;
}

.txtOrange {
    color: orange;
}

.spacer {
    aspect-ratio: 960/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.layer1 {
    background-image: url('./layer1.svg');
}

.layer2 {
    background-image: url('./layer2.svg');
}