body {
    font-family: sans-serif;
    color: white;
    background-color: black;
}

h1 {
    font-family: 'Permanent Marker', cursive;
    color: white;
    text-align: center;
    font-size: 90px;
}

h2 {
    font-family: 'Permanent Marker', cursive;
    font-size: 45px;
}

summary {
    width: 274px;
    border: 5px darkblue;
    padding: 10px;
    border-style: double;
}

section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    padding: 100px 20vw;
}

.backBlue {
    background: #0b00a1;
}

.backGrey {
    background: darkslategray;
}

.txtOrange {
    color: orange;
}