:root {
    --font-family: 'DM Sans';
    --svg-width: 20px; /* Standard width for all SVGs */
    --svg-height: 20px; /* Standard height for all SVGs */
    --svg-skills-width: 36px;
    --svg-skills-height: 36px;
    --skills-pill-width: 50px;
    --skills-pill-height: 50px;
    --project-img-width: 100%;
    --project-img-height: 150px;
    --hue-color: 15;

    /*------------------ Text Colors ------------------*/
    --accent-color: hsl(var(--hue-color), 85%, 54%);
    --accent-pill-color: hsl(var(--hue-color), 100%, 64%);
    --accent-project-link-color: #043b5a;
    --filter-accent-color: invert(45%) sepia(94%) saturate(2725%) hue-rotate(346deg) brightness(96%) contrast(94%);
    --filter-primary-color: brightness(0) saturate(100%) invert(0%) sepia(97%) saturate(7482%) hue-rotate(36deg) brightness(97%) contrast(95%);
    --filter-secondary-color: brightness(0) saturate(100%) invert(48%) sepia(0%) saturate(0%) hue-rotate(172deg) brightness(92%) contrast(77%);;
    --filter-project-link: invert(100%) sepia(0%) saturate(7490%) hue-rotate(331deg) brightness(103%) contrast(99%);
    --primary-color:hsl(0, 0%, 0%);
    --secondary-color: #03263a;
    --third-color: #747474;
    --project-link-color: #ffffff;
    --email-body-color: red;
    --bk-color: #FFFF;
    --secondary-bk-color: rgb(3, 38, 58);
    --muted-bk-color: rgba(230, 233, 240);
    --muted-bk2-color: rgba(230, 233, 240, 0 );
    --header-color:hsla(0, 0%, 100%, 0.5);
}

body.dark {
    --bk-hue: 202;
    --bk-color: rgb(3, 38, 58);
    --secondary-bk-color: #FFFF;
    --accent-project-link-color: #d3f5ff;
    --muted-bk-color: rgba(0, 20, 31, 0.25);
    --header-color:hsl(var(--bk-hue), 90%, 12%, 0.5);
    --primary-color: hsl(0, 0%, 100%);
    --secondary-color: #84cbdf;
    --project-link-color: black;
    --third-color: #505d7a;
    --filter-primary-color: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(360deg) brightness(105%) contrast(102%);
    --filter-secondary-color: brightness(0) saturate(100%) invert(36%) sepia(15%) saturate(868%) hue-rotate(183deg) brightness(95%) contrast(91%);
    --filter-project-link: brightness(0) saturate(100%) invert(0%) sepia(97%) saturate(7482%) hue-rotate(36deg) brightness(97%) contrast(95%);
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    font-family: var(--font-family);
    width: clamp(300px, 90%, 725px);
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    background-color: var(--bk-color);
}

main {
    display: flex;
    flex-direction: column;
}

header {
    position: sticky;
    z-index: 50;
    top: 0;
    background-color: var(--header-color);
    backdrop-filter: blur(10px);
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    left: 0;
}

.notification {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--accent-color);
    padding: 15px 25px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    animation: slideIn 0.5s forwards;
    /* New positioning */
    top: 70px; /* Adjust based on your header height */
    width: 100%;
    max-width: 90%;
}

.notification p {
    color: white;
    margin: 0;
}

.notification.hidden {
    display: none;
}

.close-notification {
    margin-left: 15px;
    cursor: pointer;
    font-size: 20px;
    color: white;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(-50%) translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateX(-50%) translateY(0);
    }
}

.navbar {
    width: clamp(300px, 90%, 725px);
    margin: 0 auto;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
}

.navbar-list {
    display: flex;
    padding: 0;
    gap: 2rem;
    height: 25px;
    list-style: none;
}

.nav-link {
    text-decoration: none;
    font-weight: bold;
    color:var(--third-color);
}

.nav-link:hover {
    color: var(--primary-color);
}

.nav-link.active {
    color: var(--accent-color);
}

.socials-link {
    color: var(--primary-color);
    text-decoration: none;
    cursor: pointer;
}

.socials-link:hover {
    color: var(--accent-color);
}

.theme-toggle {
    margin-left: auto;
}

.logo {
    width: var(--svg-width);
    height: var(--svg-height);
    filter: var(--filter-secondary-color);
    object-fit: contain; /* Ensures aspect ratio is maintained */
}

.logo:hover {
    filter: var(--filter-accent-color);
}

.theme-icon {
    width: var(--svg-width);
    height: var(--svg-height);
    cursor: pointer;
    filter: var(--filter-secondary-color);
}

.theme-icon:hover {
    filter: var(--filter-accent-color);
}

.home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding:0.5rem 1rem 0.5rem 1rem;
}

h1 {
    position: relative;
    font-size: 3rem;
    margin: 0;
    color: var(--primary-color);
}

h1 .anchor {
    position: absolute;
    top: -85px;
}

.h1-accent {
    color:var(--accent-color);
}

p {
    color: var(--secondary-color);
}

.selfie-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.selfie {
    object-fit: cover;
    width: 175px;
    height: 175px;
    border-radius: 8px;
}

.socials {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.socials-link {
    display: flex;
    align-self: center;
    height: var(--icon-height);
}

.resume-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bk-color);
    color: var(--primary-color);
    border: none;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    white-space: nowrap;
    border-radius: 8px;
    padding: 8px 16px 8px 16px;
    gap: 8px;
    cursor: pointer;
}

.resume-btn:hover {
    background-color: rgba(239, 226, 226, 0.25);
    color: var(--accent-color);
}

.resume-btn .logo {
    filter: var(--filter-primary-color);
}

.resume-btn:hover .logo {
    filter: var(--filter-accent-color);
}

.about-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bk-color);
    color: var(--third-color);
    border: none;
    white-space: nowrap;
    border-radius: 8px;
    padding: 8px 0 8px 0;
    gap: 8px;
    cursor: pointer;
}

.about-btn:hover {
    color: var(--accent-color);
}

.about-btn:hover .logo {
    filter: var(--filter-accent-color);
}

.floating-sidebar {
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    top: 30%;
    left: 5%;
    padding: 1rem;
    border-radius: 8px;
    opacity: 0;
    transform: translateX(-20px);
    visibility: hidden;
    transition: opacity 0.5s ease-out, transform 0.5s ease-out, visibility 0.5s ease-out;
    will-change: transform, opacity;
    z-index: 1000;
    max-width: 60px;
}

/* Show the sidebar */
.floating-sidebar.start {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
}

 /* The Modal (background) */

.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0,0,0,0);
    transition: background-color 300ms ease-in-out;
    pointer-events: none; /* This prevents clicks when hidden */
    padding-top: 15% ;
}

.modal.active {
    background-color: rgba(0,0,0,0.4);
    pointer-events: auto; /* Allow clicks when active */
}

.modal-content {
    background-color: var(--bk-color);
    margin: 15% auto;
    width: 60%;
    max-width: 710px;
    transform: translateY(-20px);
    transition: all 300ms ease-in-out;
    opacity: 0;
}

.modal-content.active {
    opacity: 1;
    transform: translateY(0);
}

.modal-content.active > .card-content {
    opacity: 1;
}

/* The Close Button */
.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 9999;
    color: var(--secondary-color);
    font-size: 28px;
    font-weight: bold;
}

.close-modal:hover,
.close-modal:focus {
    color: var(--accent-color);
    cursor: pointer;
}

.about {
    margin-top: 2rem;
}

.card-content {
    margin: 0;
    padding:0.5rem 1rem 0.5rem 1rem;
}

.card {
    border-radius: 15px;
    background-color: var(--bk-color);
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

.title {
    text-align: start;
    margin: 4rem 1rem 1rem;
}

.title p {
    margin: 0;
}

.skills-inner-title {
    text-align: center;
    color: var(--primary-color);
}

.skills-logo {
    max-width: var(--svg-skills-width);
    max-height: var(--svg-skills-height);
    object-fit: fill;
}

.skills-container {
    gap: 2rem;
    margin: 0.5rem;
    padding: 0;
}

.skills-container-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;
    gap: 2rem;
}

.skills-logo-pill {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 3rem;
    height: 4rem;
    border-radius: 50px;
}

.skills-logo-pill p {
    font-weight: bold;
    font-size: 12px;
    margin: 0;
    color: var(--primary-color);
}

.stats-container {
    max-width: 600px;
    margin: 0 auto;
}

.skill-item {
    padding: 1rem;
}

.skill-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    color: var(--primary-color);
}

.container {
    height: 20px;
    background-color: var(--muted-bk-color);
    border-radius: 10px;
    width: 100%;
}

.stat {
    text-align: right;
    padding-right: 10px;
    color: white;
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
    border-radius: 10px;
    width: 0%;
    background-color: var(--muted-bk-color);
    transition: width 0.5s ease-in-out;
}

.xp-border{
    background-color: var(--muted-bk-color);
    border-radius: 15px;
}

.xp-border.toggle {
    display: flex;
    flex-direction: row;
    height: 3.5rem;
    margin-bottom: 0.25rem;
}

.xp-toggler {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: 0.45rem;
    border-radius: calc(15px - 0.45rem);
    cursor: pointer;
}

.projects {
    margin-right: 0;
}

.education {
    margin-left: 0;
}

.inactive {
    margin-right: 0;
    background-color: var(--muted-bk2-color);
    box-shadow: none;
}

.hide {
    display: none;
}

.project-border {
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0.45rem;
    padding: 2rem;
    gap: 2rem;
    border-radius: calc(15px - 0.45rem);
}

.education-border {
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0.45rem;
    padding: 2rem;
    gap: 2rem;
    border-radius: calc(15px - 0.45rem);
}

.education-border.hide {
    display: none;
}

.project-border.hide {
    display: none;
}

.project-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(50% - 2rem);
    height: 450px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 15px;
}

.project-img-container {
    height: var(--project-img-height);
    padding: 1rem;
    border-radius: calc(15px - 1rem) calc(15px - 1rem) 0 0;
}

.project-img {
    object-fit: cover;
    width: var(--project-img-width);
    height: var(--project-img-height);
    border-radius: 8px 8px 0 0;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}

.project-info {
    align-self: start;
    height: 66%;
    padding: 0 1rem 1rem 1rem;
}

.project-info p {
    font-size: 12px;
    margin: 0;
}

.project-info h3 {
    color: var(--primary-color);
}

.project-stack {
    display: inline-flex;
    flex-wrap: wrap;
    align-self: start;
    padding: 0 1rem 1rem 1rem;
    gap: 0.5rem;
    height: 33%;
}

.stack-pill {
    background-color: var(--accent-pill-color);
    border-radius: 15px;
    text-align: center;
    padding:0 8px 0 8px;
    height: fit-content;
}

.stack-pill p {
    color: #FFFF;
    font-size: 12px;
    margin: 0;
    font-weight: bold;
}

.project-links {
    display: inline-flex;
    flex-wrap: wrap;
    align-self: start;
    justify-self: end;
    padding: 0 1rem 1rem 1rem;
    gap: 0.5rem;
}

.project-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-bk-color);
    color: var(--project-link-color);
    border: none;
    border-radius: 8px;
    padding: 4px 8px 4px 8px;
    gap: 8px;
    cursor: pointer;
    height: 24px;
}

.project-btn:hover {
    background-color: var(--accent-project-link-color);
}

.project-btn .logo {
    max-width: 12px;
    max-height: 12px;
    filter: var(--filter-project-link);
}

.timeline {
    margin: auto;
}

.timeline-container {
    padding-left: 30px;
    border-left: var(--accent-color) solid 3px;
}

.timeline-item {
    position: relative;
    margin-bottom: 30px;
}

.timeline-item::before {
    content: "";
    position: absolute;
    left: calc(-30px + -10px + -1.5px);
    top: calc(50% - 10px);
    width: 20px;
    height: 20px;
    background: var(--accent-color);
    border-radius: 50%;
}

.timeline-content {
    background: var(--bk-color);
    padding: 15px;
    border-radius: 8px;
}

.timeline-content h3 {
    margin-top: 0;
    color: var(--primary-color);
}

.timeline-content p {
    margin: 5px 0 0;
}

.timeline-content p.date {
    margin: 5px 0 0;
    font-size: 12px;
}

.connect-section {
    display: flex;
    gap: 2rem;
    margin: 0;
}

.contact-form {
    padding: 2rem;
    width: 60%;
}

.connect-info {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0;
    justify-content: flex-start;
}

.info-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
}

.info-title h3 {
    margin: 0;
    color: var(--primary-color);
}

.info-title .logo {
    filter: var(--filter-accent-color);
}

.input-section {
    margin-bottom: 1.5rem;
}

.input-section label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: var(--primary-color);
}

.input-section input,
.input-section textarea {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid var(--muted-bk-color);
    border-radius: 8px;
    box-sizing: border-box;
    background-color: var(--muted-bk-color);
    color: var(--primary-color);
    resize: none;
}

.input-section textarea {
    height: 150px;
}

.input-section input:focus,
.input-section textarea:focus {
    outline: none;
    border-color: var(--accent-color);
    box-shadow: 0 0 0 2px rgba(var(--accent-color), 0.2);
}

input[type="submit"] {
    background-color: var(--accent-color);
    color: white;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s ease;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

input[type="submit"]:hover {
    background-color: var(--accent-pill-color);
}

/* Responsive adjustments */

@media (max-width:460px) {
    .navbar-list {
        gap: 0.5rem;
    }
}

@media (max-width: 688px) {
    .navbar-list {
        gap: 1rem;
    }

    .home {
        flex-direction: column-reverse;
        text-align: center;
    }

    .socials {
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: center;
    }

    .modal-content {
        width: 90%;
    }

}

@media (max-width:797px) {
    .project-border-wrapper {
        flex-direction: column;
    }

    .project-card {
        width: clamp(300px, 50%, 700px);
    }

    .connect-section {
        flex-direction: column;
    }

    .connect-info,
    .contact-form {
        width: auto;
    }
}

@media (max-width: 925px) {
    .floating-sidebar {
        position: fixed;
        flex-direction: row;
        justify-content: space-around;
        left: 2.5rem;
        bottom: 2rem;
        top: auto;
        width: auto;
        max-width: none;
        padding: 0.5rem;
        background-color: var(--secondary-bk-color);
    }
}

@media (max-width: 1183px) {

    .modal-content {
        width: 90%;
    }
}

@media (min-width: 1440px) {
    .floating-sidebar {
        left:auto;
        right: 75%;
    }
}
